body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4C5760;
    padding:64px;
    margin: 0 auto;
  }

nav a {
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #D7CEB2;
    font-weight: 400;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    margin: 64px;
    margin-top: 10vh;
    color: #4C5760;
    font-weight: bold;
    max-width: 900px;
    line-height: 2;
}

img{
    float: left;
    margin-top: 32px;
    margin-left: 96px;
    margin-right: 80px;
    margin-bottom: 32px;
    height: 350px;
    width: auto;
}

h2{
   font-size: 28px;
   color: #4C5760;
   font-weight: bold;
   padding-top: 32px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4C5760;
    justify-content: center;
    line-height: 2;
    margin-right: 248px;
}
